/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 40px;
  background-color: #fafafa;
}

/* Navigation bar style */
nav {
  display: flex;
  justify-content: center; /* centers yje lonks horizontally */
  align-items: center; /* centers vertically if nav gets taller */
  gap: 18px;  /* space between links */
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

/* Navigation Links */
/* Navigation links */
nav a {
  display: inline-block;   /* ensures font-weight change applies consistently */
  padding: 6px 8px;
  text-decoration: none;
  color: #0073e6;
  font-weight: 600;
  transition: font-weight 0.12s ease, transform 0.12s ease;
}
/* Hover effect*/
nav a:hover {
  font-weight: 1500;
  text-decoration: underline;
  transform: translateY(-1px);
}
.container {
  max-width: 800px;      /* controls the box width */
  margin: 0 auto;        /* centers it horizontally */
  padding: 20px 30px;    /* space inside the box */
  background: white;     /* white box */
  border-radius: 12px;   /* rounded corners */
  box-shadow: 0 2px 10px rgba(0,0,0,0.08); /* soft shadow */
}
